h1 {
text-align: center;
font-weight: bold;
font-family: verdana;
}

p{
text-align: center;
font-family: verdana;
}

img {
max-width: 300px;
max-height: 150px;
margin-right: auto;
margin-right: auto;
}

body {
  background-color: BlanchedAlmond;
}

ul {
  text-align: center;
}

.container {
  text-align: center;
}
.jumbotron {
  background-color: Aquamarine;
}
